{% extends "base/base.html" %}
{% block title %}
  Blog
{% endblock %}

{% from "base/macros.html" import blog_entry %}

{% block content %}
  {% if language == 'de' %}
  <div class="row">
    <div class="col-md-8">
      <div class="bs-callout bs-callout-warning">
        <p>Der MapProxy-Blog ist derzeit nur in englischer Sprache verfügbar.</p>
      </div>
    </div>
  </div>
  {% endif %}

<div class="row">
  <div class="col-sm-8 ">

    {% for header, entry in entries %}
        {{ blog_entry(header, entry) }}
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}

  </div>
</div>
{% endblock %}


