<div class="row">
  <div class="col-sm-6 col-md-6">
    {% block content_bottom_left %}
    {% endblock%}
    <a href="http://omniscale.de">
      <img src="{{ url_for('static',filename='img/omniscale.png')}}" class="img-align-right">
    </a>
  </div>

  <div class="col-sm-6 col-md-offset-2 col-md-4">

    <ul class="social">
      <li>
        <a href="http://twitter.com/mapproxy" title="twitter" target="_blank">
          <i class="fa fa-twitter icon-rounded"></i>
          Twitter
        </a>
      </li>

      <li>
        <a href="{{ url_for('blog_feed') }}" title="RSS" target="_blank">
          <i class="fa fa-rss-square icon-rounded"></i>
          via RSS
        </a>
      </li>

      <li>
        <a href="http://github.com/mapproxy" title="github" target="_blank">
          <i class="fa fa-github icon-rounded"></i>
          GitHub
        </a>
      </li>
    </ul>
  </div>
</div>