{% extends "base/base.html" %}
{% block title %}
  Documentation
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    <h5>MapProxy 1.x</h5>
    <ul>
      <li><a href="http://mapproxy.org/docs/1.6.0/">MapProxy 1.6</a></li>
      <li><a href="http://mapproxy.org/docs/1.5.0/">MapProxy 1.5</a></li>
      <li><a href="http://mapproxy.org/docs/1.4.0/">MapProxy 1.4</a></li>
      <li><a href="http://mapproxy.org/docs/1.3.0/">MapProxy 1.3</a></li>
      <li><a href="http://mapproxy.org/docs/1.2.0/">MapProxy 1.2</a></li>
      <li><a href="http://mapproxy.org/docs/1.1.1/">MapProxy 1.1.1</a></li>
      <li><a href="http://mapproxy.org/docs/1.1.0/">MapProxy 1.1.0</a></li>
      <li><a href="http://mapproxy.org/docs/1.0.0/">MapProxy 1.0</a></li>
    </ul>

    <h5>MapProxy 0.9</h5>
    <ul>
      <li><a href="http://mapproxy.org/docs/0.9.1/">MapProxy 0.9.1</a></li>
      <li><a href="http://mapproxy.org/docs/0.9.1/">MapProxy 0.9.0</a></li>
    </ul>

    <h5>MapProxy 0.8</h5>
    <ul>
      <li><a href="http://mapproxy.org/docs/0.9.1/">MapProxy 0.9.1</a></li>
      <li><a href="http://mapproxy.org/docs/0.9.1/">MapProxy 0.9.0</a></li>
      <li><a href="http://mapproxy.org/docs/0.8.5/">MapProxy 0.8.5</a></li>
      <li><a href="http://mapproxy.org/docs/0.8.4">MapProxy 0.8.4</a></li>
      <li><a href="http://mapproxy.org/docs/0.8.3">MapProxy 0.8.3</a></li>
      <li><a href="http://mapproxy.org/docs/0.8.2">MapProxy 0.8.2</a></li>
      <li><a href="http://mapproxy.org/docs/0.8.1">MapProxy 0.8.1</a></li>
      <li><a href="http://mapproxy.org/docs/0.8.0">MapProxy 0.8.0</a></li>
    </ul>
  </div>
</div>

{% endblock %}
