{% macro blog_header(title, date, link) %}
<h3 class="blog-title"><a href="/blog/{{link}}">{{ title }}</a></h3>
<ul class="text-muted list-inline">
  <li><i class="fa fa-calendar"></i> {{ date }}</li>
</ul>
{% endmacro %}

{% macro blog_entry(header, content) -%}
    {{ blog_header(header['title'], header['date'], header['slug']) }}
    {{ content | safe }}
{%- endmacro %}


{% macro heading(title, infotext) %}
<h2 class="title">
  <span>{{ title|safe }}</span>
  <small>{{ infotext|safe }}</small>
</h2>
{% endmacro %}
