{% extends "base/base.html" %}
{% block title %} About {% endblock %}

{% block content %}
<div class="row content-row">
  <div class="col-md-12">
    {{ heading('About' ) }}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <address>
      <p><strong>Omniscale GmbH & Co. KG</strong><br />
        Nadorster Straße 60<br />
        26123 Oldenburg <br />
        Germany <br />
        tel: +49 (0)441/9392774-0<br />
        fax: +49 (0)441/9392774-9<br />
        mail: info@omniscale.de</p>

        <p>Commercial register: Amtsgericht Oldenburg, HRA 202656 <br>
          VAT-No: DE275356536
        </p>
      </address>
    </div>

    <div class="col-md-6">
      <address>
        <p><strong>General partner:</strong><br />
          Omniscale Beteiligungs GmbH<br>
          Nadorster Straße 60<br>
          26123 Oldenburg <br>
          Commercial register: Amtsgericht Oldenburg (Oldenburg), HRB 205231
        </p>
      </address>
      <address>
        <p class="last"><strong>CEO</strong><br />
          Dipl.-Ing.(FH) Dominik Helle<br />
          Dipl.-Ing.(FH) Oliver Tonnhofer
        </p>
      </address>
  </div>
</div>


<div class="row">
    <div class="col-md-10">
      <h4>Disclaimer</h4>
      <p>Our site contains links to third-party websites. Omniscale has no influence on information on these websites. The content of the third-party sites is the responsibility of the respective owners/providers.</p>
    </div>
</div>
{% endblock %}

