{% extends "base/documentation.html" %}
{% block title %}
Documentation
{% endblock %}

{% block introduction %}
<div class="row content-row">
  <div class="col-md-12">
    {{ heading('Documentation') }}

    <h4>Current/Trunk Documentation</h4>
    <p>The documentation for the current development branch can be found at: <a href="https://mapproxy.org/docs/nightly/">http://mapproxy.org/docs/nightly/</a></p>
    <p>The current documentation is also <a href="https://mapproxy.org/docs/nightly/MapProxy.pdf">available as a PDF.</a></p>

    <h4>Release Documentation</h4>
    <p>For specific releases see links below:</p>
  </div>
</div>
{% endblock %}
