.slider-wrapper {
  margin: 1rem;
  position: relative;
}

.slides-container {
  overflow: hidden;
  scroll-behavior: smooth;
  list-style: none;
  margin-right: 10rem;
  margin-left: 10rem;
  padding: 0;
  min-height: 50vh;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 5rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  color: #36b4c7;
}

.slide-arrow.active {
  color: #2c94a3;
}

.slide-arrow:hover,
.slide-arrow:focus,
.slide-arrow:active {
  opacity: 1;
  color: #36b4c7;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.slide:nth-child(1) {
  background-color: #49b293;
}

.slide:nth-child(2) {
  background-color: #b03532;
}

.slide:nth-child(3) {
  background-color: #6a478f;
  margin: 0;
}

.slide:nth-child(4) {
  background-color: #da6f2b;
}