{% extends "base/documentation.html" %}
{% block title %}
  Dokumentation
{% endblock %}

{% block introduction %}
<div class="row content-row">
  <div class="col-md-8">
    {{ heading('Dokumentation') }}
    <p>Die Dokumentation für das MapProxy Projekt wird in englischer Sprache erstellt. Hierdurch kann gewährleistet werden, dass eine möglichst große Anzahl von Benutzer die Dokumentation nutzen und von der Dokumentation profitieren kann.</p>

    <h4>Aktuelle Version</h4>
    <p>Die Dokumentation für die letzte Version kann immer unter: <a href="https://mapproxy.org/docs/nightly/">http://mapproxy.org/docs/nightly/</a> abgerufen werden.</p>
    <p>Die aktuelle Dokumentation kann zusätzlich noch <a href="https://mapproxy.org/docs/nightly/MapProxy.pdf">als PDF heruntergeladen</a> werden.</p>

    <h4>Release Dokumentation</h4>
    <p>Es stehen alle Dokumentationen zu den jeweiligen Versionen zur Verfügung:</p>
  </div>
</div>
{% endblock %}

