{% extends "base/base.html" %}
{% block title %} Impressum {% endblock %}

{% block content %}
<div class="row content-row">
  <div class="col-md-12">
    {{ heading('Impressum') }}
  </div>
</div>

<div class="row top-buffer-2">
    <div class="col-md-6">
        <address>
            <p><strong>Omniscale GmbH & Co. KG</strong><br />
              Moltkestraße 6a<br />
              26122 Oldenburg<br />
              tel: +49 (0)441/9392774-0<br />
              fax: +49 (0)441/9392774-9<br />
              mail: info@omniscale.de</p>

            <p>Handelsregister: Amtsgericht Oldenburg, HRA 202656<br>
              USt-Id: DE275356536</p>
        </address>
    </div>

    <div class="col-md-6">
        <address>
            <p><strong>Persönlich haftende Gesellschafterin:</strong><br />
              Omniscale Beteiligungs GmbH<br>
              Moltkestraße 6a<br />
              26122 Oldenburg<br />
              Handelsregister: Amtsgericht Oldenburg (Oldenburg), HRB 205231
            </p>
        </address>
        <address>
            <p class="last"><strong>Geschäftsführer</strong><br />
              Dipl.-Ing.(FH) Dominik Helle<br />
              Dipl.-Ing.(FH) Oliver Tonnhofer
            </p>
        </address>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <h4>Haftungshinweis</h4>
        <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    </div>
</div>

{% endblock %}
